{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Control</th>
      <th>Dept</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Payee</th>
      <th>Source</th>
      <th>Date In</th>
      <th>Clock In</th>
      <th>Date Returned</th>
      <th>Clock Out</th>
      <th>Status</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% if records %}
      {% for record in records %}
      <tr>
        <td>{{ record.control }}</td>
        <td>{{ record.department }}</td>
        <td>{{ record.type }}</td>
        <td>{{ record.amount }}</td>
        <td>{{ record.payee }}</td>
        <td>{{ record.source }}</td>
        <td>{{ record.date_in }}</td>
        <td>{{ record.clock_in }}</td>
        <td>{{ record.date_returned }}</td>
        <td>{{ record.clock_out }}</td>
        <td>{{ record.status }}</td>
        <td>{{ record.remarks }}</td>
      {% endfor %}
    {% else %}
      <tr><td colspan="13" class="text-center">No records found</td></tr>
    {% endif %}
  </tbody>
</table>
    <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">
        Logout
    </a>
</div>
{% endblock %}
